// 主题色
$mc1: #3b82fe;
$mc2: #fe4128;
$mc3: #887efd;
$mc4: #db6fff;
$mc5: #ff6e90;
$mc6: #ff8400;
$mc7: #43b548;

// 辅色
$sc1: #333333;
$sc2: #666666;
$sc3: #999999;
$sc4: #b2b2b2;
$sc5: #f7f7f7;
$sc6: #f5f7fa;
$sc7: #e9ecf5;
$sc8: #ffffff;
$sc9: #000000;
$sc10: #f8f8f8;
$sc11: #f2f3fa;
$sc12: #e1ecff;

// 字号
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;

//边框色
$bdc: #f7f6f9;
// 投影色
$shadow1: rgba(69, 71, 81, 0.1);

// 主体内容宽度(base里面有公共样式)
$conwidth: 1280px;
